@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');


*{
    box-sizing: border-box
}
body{
    background: url('assets/freedom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh
}
.wrapper{
    width : 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif
}
.quote{
    padding: 20px;
    font-size: 3rem
}
.author{
    font-size: 1rem;
    font-style: oblique
    
}